{"openapi":"3.1.0","info":{"title":"Projects Platform","description":"\nProjects Platform \nMualliflar: Amonov Dilmurod va Boynazarov Bexruz\n","license":{"name":"ProjectsPlatform Litsenziyasi","url":"https://projectsplatform.uz/"},"version":"1.0.0"},"servers":[{"url":"https://api.projectsplatform.uz"}],"paths":{"/accounts/create_user":{"post":{"tags":["accounts"],"summary":"Create User","operationId":"create_user_accounts_create_user_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUser"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/accounts/activation_account":{"post":{"tags":["accounts"],"summary":"Activation Account","operationId":"activation_account_accounts_activation_account_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivationAccount"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/accounts/login":{"post":{"tags":["accounts"],"summary":"Login","operationId":"login_accounts_login_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginUser"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/accounts/check-login-code":{"post":{"tags":["accounts"],"summary":"Check Code","operationId":"check_code_accounts_check_login_code_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckLogin"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/accounts/change-password-request":{"post":{"tags":["accounts"],"summary":"Reset Password Request","operationId":"reset_password_request_accounts_change_password_request_post","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePassword"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/accounts/reset-password-request":{"post":{"tags":["accounts"],"summary":"Reset Password Request","operationId":"reset_password_request_accounts_reset_password_request_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/accounts/reset-password":{"post":{"tags":["accounts"],"summary":"Reset Password","operationId":"reset_password_accounts_reset_password_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPassword"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/accounts/about_account":{"post":{"tags":["accounts"],"summary":"Get About Account","operationId":"get_about_account_accounts_about_account_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AboutAccount"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/accounts/check_user":{"get":{"tags":["accounts"],"summary":"Check User","operationId":"check_user_accounts_check_user_get","parameters":[{"name":"KeySecret","in":"query","required":true,"schema":{"type":"string","title":"Keysecret"}},{"name":"tg_id","in":"query","required":true,"schema":{"type":"integer","title":"Tg Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/accounts/get_reports":{"post":{"tags":["accounts"],"summary":"Get Reports","operationId":"get_reports_accounts_get_reports_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUserReports"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/kundalikcom/buy":{"post":{"tags":["kundalikcom"],"summary":"Buy Api","operationId":"buy_api_kundalikcom_buy_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuySerializer"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/kundalikcom/price_months":{"post":{"tags":["kundalikcom"],"summary":"Price Months Api","description":"Oy soniga mos keluvchi narxni qaytaruvchi api\nmasalan: 1 oy -> 250 000 `so'm`","operationId":"price_months_api_kundalikcom_price_months_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PriceSerializer"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/kundalikcom/check_pc":{"post":{"tags":["kundalikcom"],"summary":"Check Pc Api","operationId":"check_pc_api_kundalikcom_check_pc_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckPcSerializer"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/kundalikcom/register_logins/{user_id}":{"post":{"tags":["kundalikcom"],"summary":"Register Logins","operationId":"register_logins_kundalikcom_register_logins__user_id__post","parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"integer","title":"User Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterLoginsSerializer"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/kundalikcom/set_school":{"post":{"tags":["kundalikcom"],"summary":"Set School Api","operationId":"set_school_api_kundalikcom_set_school_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetSchoolSerializer"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/kundalikcom/get_school":{"post":{"tags":["kundalikcom"],"summary":"Get School Api","operationId":"get_school_api_kundalikcom_get_school_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetSchoolSerializer"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/kundalikcom/about_kundalikpc":{"post":{"tags":["kundalikcom"],"summary":"About Kundalikpc Api","operationId":"about_kundalikpc_api_kundalikcom_about_kundalikpc_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AboutKundalikpcSerializer"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/kundalikcom/buy_api_mobile":{"post":{"tags":["kundalikcom"],"summary":"Buy Api Mobile Api","operationId":"buy_api_mobile_api_kundalikcom_buy_api_mobile_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuySerializer"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/kundalikcom/price_months_mobile":{"post":{"tags":["kundalikcom"],"summary":"Price Months Mobile Api","description":"Oy soniga mos keluvchi narxni qaytaruvchi api\nmasalan: 1 oy -> 250 000 `so'm`","operationId":"price_months_mobile_api_kundalikcom_price_months_mobile_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PriceSerializer"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/kundalikcom/check_mobile":{"post":{"tags":["kundalikcom"],"summary":"Check Mobile Api","operationId":"check_mobile_api_kundalikcom_check_mobile_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckPcSerializer"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/kundalikcom/login_kundalikcom":{"post":{"tags":["kundalikcom"],"summary":"Register Logins","operationId":"register_logins_kundalikcom_login_kundalikcom_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterLoginsSerializer"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/login":{"post":{"tags":["admin"],"summary":"Login Admin","operationId":"login_admin_admin_login_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginAdmin"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/check-login":{"post":{"tags":["admin"],"summary":"Check Login Admin","operationId":"check_login_admin_admin_check_login_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckLoginAdmin"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/reset-password-request":{"post":{"tags":["admin"],"summary":"Reset Password Request Admin","operationId":"reset_password_request_admin_admin_reset_password_request_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/reset-password":{"post":{"tags":["admin"],"summary":"Reset Password Admin","operationId":"reset_password_admin_admin_reset_password_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPassword"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/add-admin":{"post":{"tags":["admin"],"summary":"Create Admin","operationId":"create_admin_admin_add_admin_post","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAdmin"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/update-admin":{"put":{"tags":["admin"],"summary":"Update Admin","operationId":"update_admin_admin_update_admin_put","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAdmin"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/delete-admin":{"delete":{"tags":["admin"],"summary":"Delete Admin","operationId":"delete_admin_admin_delete_admin_delete","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteAdmin"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/add-products":{"post":{"tags":["admin"],"summary":"Add Products","operationId":"add_products_admin_add_products_post","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddProducts"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/update-products":{"put":{"tags":["admin"],"summary":"Update Products","operationId":"update_products_admin_update_products_put","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProducts"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/delete-products":{"delete":{"tags":["admin"],"summary":"Delete Products","operationId":"delete_products_admin_delete_products_delete","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteProducts"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/payment":{"post":{"tags":["admin"],"summary":"Add Payment","operationId":"add_payment_admin_payment_post","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_add_payment_admin_payment_post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/get-users":{"get":{"tags":["admin"],"summary":"Get Users","operationId":"get_users_admin_get_users_get","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/get-user":{"post":{"tags":["admin"],"summary":"Get User","operationId":"get_user_admin_get_user_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDataUser"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/get-reportsbalance":{"get":{"tags":["admin"],"summary":"Get Reportsbalance","operationId":"get_reportsbalance_admin_get_reportsbalance_get","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/get-payment-data":{"get":{"tags":["admin"],"summary":"Get Payment","operationId":"get_payment_admin_get_payment_data_get","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/get-products":{"get":{"tags":["admin"],"summary":"Get Products","operationId":"get_products_admin_get_products_get","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/get-schooldata":{"get":{"tags":["admin"],"summary":"Get Schooldata","operationId":"get_schooldata_admin_get_schooldata_get","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/get-pckundalikcom":{"get":{"tags":["admin"],"summary":"Get Pckundalikcom","operationId":"get_pckundalikcom_admin_get_pckundalikcom_get","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/get-mobilekundalikcom":{"get":{"tags":["admin"],"summary":"Get Mobilekundalikcom","operationId":"get_mobilekundalikcom_admin_get_mobilekundalikcom_get","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/get-majburiyobuna":{"get":{"tags":["admin"],"summary":"Get Majburiyobuna","operationId":"get_majburiyobuna_admin_get_majburiyobuna_get","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/get-admins":{"get":{"tags":["admin"],"summary":"Get Admins","operationId":"get_admins_admin_get_admins_get","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/get_all_telegram_ids":{"get":{"tags":["admin"],"summary":"Get All Telegram Ids","operationId":"get_all_telegram_ids_admin_get_all_telegram_ids_get","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/get_all_phone_numbers":{"get":{"tags":["admin"],"summary":"Get All Phone Numbers","operationId":"get_all_phone_numbers_admin_get_all_phone_numbers_get","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/about_admin":{"get":{"tags":["admin"],"summary":"About Admin","operationId":"about_admin_admin_about_admin_get","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/admin/find_user":{"post":{"tags":["admin"],"summary":"Find User","operationId":"find_user_admin_find_user_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindData"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AboutAccount":{"properties":{"token":{"type":"string","title":"Token"}},"type":"object","required":["token"],"title":"AboutAccount"},"AboutKundalikpcSerializer":{"properties":{"token":{"type":"string","title":"Token"}},"type":"object","required":["token"],"title":"AboutKundalikpcSerializer"},"ActivationAccount":{"properties":{"secret_key":{"type":"string","title":"Secret Key"},"token":{"type":"string","title":"Token"},"tg_id":{"type":"integer","title":"Tg Id"},"phone":{"type":"string","title":"Phone"}},"type":"object","required":["secret_key","token","tg_id","phone"],"title":"ActivationAccount"},"AddProducts":{"properties":{"name":{"type":"string","title":"Name"},"bio":{"type":"string","title":"Bio"},"settings":{"type":"object","title":"Settings"}},"type":"object","required":["name","bio","settings"],"title":"AddProducts"},"Body_add_payment_admin_payment_post":{"properties":{"admin_token":{"type":"string","title":"Admin Token"},"tg_id":{"type":"integer","title":"Tg Id"},"tulov_summasi":{"type":"integer","title":"Tulov Summasi"},"bio":{"type":"string","title":"Bio"},"payment_chek_img":{"type":"string","format":"binary","title":"Payment Chek Img"}},"type":"object","required":["admin_token","tg_id","tulov_summasi","payment_chek_img"],"title":"Body_add_payment_admin_payment_post"},"BuySerializer":{"properties":{"token":{"type":"string","title":"Token"},"months_count":{"type":"integer","title":"Months Count"}},"type":"object","required":["token","months_count"],"title":"BuySerializer"},"ChangePassword":{"properties":{"last_password":{"type":"string","title":"Last Password"},"new_password":{"type":"string","title":"New Password"}},"type":"object","required":["last_password","new_password"],"title":"ChangePassword"},"CheckLogin":{"properties":{"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"code":{"type":"integer","title":"Code"}},"type":"object","required":["username","password","code"],"title":"CheckLogin"},"CheckLoginAdmin":{"properties":{"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"code":{"type":"integer","title":"Code"}},"type":"object","required":["username","password","code"],"title":"CheckLoginAdmin"},"CheckPcSerializer":{"properties":{"device_id":{"type":"string","title":"Device Id"},"token":{"type":"string","title":"Token"}},"type":"object","required":["device_id","token"],"title":"CheckPcSerializer"},"CreateAdmin":{"properties":{"admin_token":{"type":"string","title":"Admin Token"},"full_name":{"type":"string","title":"Full Name"},"phone":{"type":"string","title":"Phone"},"email":{"type":"string","title":"Email"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"sex":{"type":"boolean","title":"Sex"},"tg_id":{"type":"integer","title":"Tg Id"},"premessions":{"type":"object","title":"Premessions"}},"type":"object","required":["admin_token","full_name","phone","email","username","password","sex","tg_id","premessions"],"title":"CreateAdmin"},"CreateUser":{"properties":{"secret_key":{"type":"string","title":"Secret Key"},"full_name":{"type":"string","title":"Full Name"},"sex":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Sex"},"email":{"type":"string","title":"Email"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"ref":{"type":"integer","title":"Ref"}},"type":"object","required":["secret_key","full_name","sex","email","username","password","ref"],"title":"CreateUser"},"DeleteAdmin":{"properties":{"admin_token":{"type":"string","title":"Admin Token"},"username":{"type":"string","title":"Username"}},"type":"object","required":["admin_token","username"],"title":"DeleteAdmin"},"DeleteProducts":{"properties":{"admin_token":{"type":"string","title":"Admin Token"},"name":{"type":"string","title":"Name"}},"type":"object","required":["admin_token","name"],"title":"DeleteProducts"},"FindData":{"properties":{"admin_token":{"type":"string","title":"Admin Token"},"text":{"type":"string","title":"Text"}},"type":"object","required":["admin_token","text"],"title":"FindData"},"GetDataUser":{"properties":{"admin_token":{"type":"string","title":"Admin Token"},"user_id":{"type":"integer","title":"User Id"}},"type":"object","required":["admin_token","user_id"],"title":"GetDataUser"},"GetSchoolSerializer":{"properties":{"token":{"type":"string","title":"Token"}},"type":"object","required":["token"],"title":"GetSchoolSerializer"},"GetUserReports":{"properties":{"token":{"type":"string","title":"Token"}},"type":"object","required":["token"],"title":"GetUserReports"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"LoginAdmin":{"properties":{"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"}},"type":"object","required":["username","password"],"title":"LoginAdmin"},"LoginUser":{"properties":{"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"}},"type":"object","required":["username","password"],"title":"LoginUser"},"PriceSerializer":{"properties":{"months_count":{"type":"integer","title":"Months Count"}},"type":"object","required":["months_count"],"title":"PriceSerializer"},"RegisterLoginsSerializer":{"properties":{"login":{"type":"string","title":"Login"},"parol":{"type":"string","title":"Parol"},"capcha_id":{"type":"string","title":"Capcha Id"},"capcha_value":{"type":"string","title":"Capcha Value"}},"type":"object","required":["login","parol","capcha_id","capcha_value"],"title":"RegisterLoginsSerializer"},"ResetPassword":{"properties":{"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"reset_code":{"type":"integer","title":"Reset Code"}},"type":"object","required":["username","password","reset_code"],"title":"ResetPassword"},"ResetPasswordRequest":{"properties":{"username":{"type":"string","title":"Username"}},"type":"object","required":["username"],"title":"ResetPasswordRequest"},"SetSchoolSerializer":{"properties":{"token":{"type":"string","title":"Token"},"viloyat":{"type":"string","title":"Viloyat"},"tuman":{"type":"string","title":"Tuman"},"school_name":{"type":"string","title":"School Name"}},"type":"object","required":["token","viloyat","tuman","school_name"],"title":"SetSchoolSerializer"},"UpdateAdmin":{"properties":{"admin_token":{"type":"string","title":"Admin Token"},"full_name":{"type":"string","title":"Full Name"},"phone":{"type":"string","title":"Phone"},"email":{"type":"string","title":"Email"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"tg_id":{"type":"integer","title":"Tg Id"},"active":{"type":"boolean","title":"Active"},"premessions":{"type":"object","title":"Premessions"}},"type":"object","required":["admin_token","full_name","phone","email","username","password","tg_id","active","premessions"],"title":"UpdateAdmin"},"UpdateProducts":{"properties":{"admin_token":{"type":"string","title":"Admin Token"},"name":{"type":"string","title":"Name"},"bio":{"type":"string","title":"Bio"},"settings":{"type":"object","title":"Settings"}},"type":"object","required":["admin_token","name","bio","settings"],"title":"UpdateProducts"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}}},"tags":[{"name":"accounts","description":"Account api lar foydalanish"},{"name":"kundalikcom","description":"kundalikcom api lar foydalanish"},{"name":"admin","description":"admin api lar foydalanish"}]}